<!DOCTYPE html>
<html> 
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/contact.css" /> 
        <title>Contact</title>
    </head>
    <body>
       
       <p>
        Leonard Musat, Alexandru Lupei, Iustin Lupei

       </p>


        <div class="navbar">
            <a href="./home.html" class="active">Home</a>
            <a href="./contact.html">Contact</a>
          </div>

          <img src="../static/img/someri_1.png" alt="Uneployed">

    </body>
</html>
