<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/grafic.css" /> 
    <title>Vizualizare Grafica</title>
    
</head>

<body>
    <h1>
        Vizualizare Grafica

    </h1>


    <div class="navbar">
        <a href="./home.html" class="active">Home</a>
        <a href="./contact.html">Contact</a>
    </div>

    <div class="container">
        <div class="bar one"></div>
        <div class="bar two"></div>
        <div class="bar three"></div>
        <div class="bar four"></div>
        <div class="bar five"></div>

        <ul class="v-meter">
            <li>
                <div>10.000</div>
            </li>
            <li>
                <div>20.000</div>
            </li>
            <li>
                <div>30.000</div>
            </li>
            <li>
                <div>40.000</div>
            </li>
            <li>
                <div>50.000</div>
            </li>


        </ul>
    </div>

    <div class="container1">
        <div class="bar1 one1"></div>
        <div class="bar1 two1"></div>

        <ul class="v-meter1">
            <li>
                <div>10.000</div>
            </li>
            <li>
                <div>20.000</div>
            </li>
            <li>
                <div>30.000</div>
            </li>
            <li>
                <div>40.000</div>
            </li>
            <li>
                <div>50.000</div>
            </li>


        </ul>
    </div>

</body>

</html>