<!DOCTYPE html>
<html> 

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../src/static/css/home.css" /> 

  <title>Statistici somaj</title>
</head>


<body>

  <h1>Statistici referitoare la somaj in Romania</h1>
  <nav class="navMenu">  
    <a href="./cartografic.html">Vizualizare Cartografica</a>
    <a href="./grafic.html">Vizualizare   Grafica</a>
    <a href="./tabelar.html">Vizualizare   Tabelara</a>
    <a href="./liniar.html">Vizualizare   Liniara</a>
    <div class="dot"></div>
  </nav>

  <div class="navbar">
    <a href="./home.html" class="active">Home</a>
    <a href="./contact.html">Contact</a>
  </div>
</body>
  <!-- <img src="https://i.ibb.co/vLGQPTF/someri.png" alt="someri" border="0"> -->
  
  <!-- <a href="https://ibb.co/VMZQSz1"><img src="https://i.ibb.co/vLGQPTF/someri.png" alt="someri" border="0"></a> -->



</html>