<!DOCTYPE html>
<html> 
    <head>
        <title>Menu 1</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
        <link rel="stylesheet" type="text/css" href="../static/css/liniar.css" /> 
        <script type='module' src="../static/js/hide.js"></script>
    </head>
    <body>
       <h1>
        Vizualizare Liniara

       </h1>

       <!-- slider -->
       <div style = "position:absolute; left:810px; top:70px; " > 
        
        <div class="double_range_slider_box">
          <div class="double_range_slider">
            <span class="range_track" id="range_track"></span>
      
            <input type="range" class="min" min="1" max="12" value="1" step="1">
            <input type="range" class="max" min="0" max="12" value="2" step="1">
      
            <div class="minvalue"></div>
            <div class="maxvalue"></div>
          </div>
          <!-- <script type='module' src="../static/js/cartografic.js"></script> -->
        </div>

        <!-- mediu si submeniu -->
        <div class="dropdown">
            <button class="button" id="button1">Varsta</button>
        </div>
        <div class="dropdown">
            <button class="button" id="button2">Totală şi pe sexe</button>
        </div>
        <div class="dropdown">
            <button class="button" id="button3">Nivel educatie</button>
        </div>
        <div class="dropdown">
            <button class="button" id="button4">Mediu Urban/Rural</button>
        </div>

       </div>

<!-- graphs -->   

<div class="graphic1" id = "graphic1" style="position:absolute; left:100px; top: 50px">
    <ul class="v-meter">
        <li>
            <div>50.000</div>
        </li>
        <li>
            <div>40.000</div>
        </li>
        <li>
            <div>30.000</div>
        </li>
        <li>
            <div>20.000</div>
        </li>
        <li>
            <div>10.000</div>
        </li>
        <li>
            <div>0</div>
        </li>


    </ul>
</div>


<div class="graphic1" id = "graphic2" style="position:absolute; left:100px; top: 400px">
    <ul class="v-meter">
        <li>
            <div>50.000</div>
        </li>
        <li>
            <div>40.000</div>
        </li>
        <li>
            <div>30.000</div>
        </li>
        <li>
            <div>20.000</div>
        </li>
        <li>
            <div>10.000</div>
        </li>
        <li>
            <div>0</div>
        </li>


    </ul>
</div>

<div class="graphic1" id = "graphic3" style="position:absolute; left:600px; top: 400px">
    <ul class="v-meter">
        <li>
            <div>50.000</div>
        </li>
        <li>
            <div>40.000</div>
        </li>
        <li>
            <div>30.000</div>
        </li>
        <li>
            <div>20.000</div>
        </li>
        <li>
            <div>10.000</div>
        </li>
        <li>
            <div>0</div>
        </li>


    </ul>
</div>

<div class="graphic1" id = "graphic4" style="position:absolute; left:1100px; top: 400px">
    <ul class="v-meter">
        <li>
            <div>50.000</div>
        </li>
        <li>
            <div>40.000</div>
        </li>
        <li>
            <div>30.000</div>
        </li>
        <li>
            <div>20.000</div>
        </li>
        <li>
            <div>10.000</div>
        </li>
        <li>
            <div>0</div>
        </li>


    </ul>
</div>


        <div class="navbar">
            <a href="./home.html" class="active">Home</a>
            <a href="#news">News</a>
            <a href="./contact.html">Contact</a>
          </div>
    </body>
</html>
