<!DOCTYPE html>
<html> 
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/tabelar.css" /> 

        <title>Vizualizare Tabelara</title>

    </head>
    <body>
       <h1>
        Vizualizare Tabelara
       </h1>

       

        <div class="navbar">
            <a href="./home.html" class="active">Home</a>
            <a href="#contact">Contact</a>
        </div>
    </body>
    <table class="center">
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
        </tr>
  </table>
    
</html>
