
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #f6f4e6;
    background: #262626;
    font-family: "Montserrat", sans-serif;
}
h1{
    color: #f6f4e6;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    text-align: center; 
    top: 10%;
    left: 20%;
}
p{
    color: #4e379f;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    text-align: left; 
    top: 50%;
    left: 10%;

}
/*  */

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #f6f4e6;
    font-family: "Montserrat", sans-serif;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #fddb3a;
}